# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/
.idea/

# Dados
data/benchmark/
data/captures/
data/results/

# Logs
*.log

# Variáveis de ambiente
.env

# Sistema
.DS_Store
Thumbs.db